<div class="container">
  <div class="row">
    <div class="col-sm">
       <button>
             <a asp-controller="Account" asp-action="Signup" style="color: white; text-decoration:none;">
			   SingUp
	         </a>
        </button>
    </div>
    <div class="col-sm">
        <button>
             <a asp-controller="Account" asp-action="LogIn" style="color: white; text-decoration:none;" >
			   LogIn
	         </a>
        </button>
     
    </div>
   
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button>
        <a asp-controller="Account" asp-action="LogOut" style="color: white; text-decoration:none;">
			   LogOut
	   </a>
       </button>
    </div>
    <div class="col-sm">
        <button>
           <a asp-controller="Account" asp-action="ChangePassword" style="color: white; text-decoration:none;">
			       ChangePassword
	        </a>
        </button>
    </div>
    <div class="col-sm">
       <button>
          <a asp-controller="Home" asp-action="Index" style="color: white; text-decoration:none;">
			       Back To list
	      </a>
      </button>
    </div>
  </div>
</div>