@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A Simple Inventory Management System</h1>
      @await Component.InvokeAsync("TopProducts",new{count = 3})
</div>
