@model ProductModel

<h1>Product details</h1>

<div class="border p-3 mt-4">

		<div class="mb-3">
			<h4>Name : @Model.Name</h4>
			<h4>Price : @Model.Price </h4>
			<h4>Description : @Model.Description </h4>
			<img src="@Model.ImageUrl" />
			
			
		</div>

		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
</div>


