@model WareHouseViewModel

<form method="post" enctype="multipart/form-data" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit WareHouse</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Location"></label>
			<input asp-for="Location" class="form-control" />
			<span asp-validation-for="Location" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="ImgByte"></label>
			<input asp-for="ImgByte" class="form-control" />
			<span asp-validation-for="ImgByte" class="text-danger"></span>
		</div>

		<input asp-for="ImgByteUrl" type="hidden" />

		<button type="submit" class="btn btn-primary" style="width:150px">Add WareHouse</button>
		<a asp-controller="WareHouse" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>



